@font-face{
  font-family: "Roboto";
  src:
  url("../fonts/Roboto-Regular.woff") format('woff'),
  url("../fonts/Roboto-Black.woff") format('woff');
}
@font-face{
  font-family: "Roboto";
  src: 
  url("../fonts/Roboto-Bold.woff") format('woff'),
   url("../fonts/Roboto-BoldItalic.woff") format('woff');
  font-weight: 700;
}
@font-face{
  font-family: "Roboto";
  src: 
  url("../fonts/Roboto-Italic.woff") format('woff'),
  url("../fonts/Roboto-Medium.woff") format('woff');
  font-style: italic;
}
@font-face{
  font-family: "Forum";
  src: 
  url("../fonts/Forum.woff") format('woff'),
  url("../fonts/Forum.woff2") format('woff2');
}

*,
*::before,
*::after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/* всегда алгоритм подсчета */

html {
 font-size: 1rem;
  scroll-behavior: smooth;
  background-color:rgba(152, 217, 22, 0.727);
  color:#121212;
  line-height: 1.5;
  font-family: TTChocolates, sans-serif;
}

body{
 
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2em;
  color: #555;
  line-height: 1.5;
  overflow-x: hidden; 


}
p{
  margin: auto;
  padding: 0 0 20px 0;
  line-height: 1.7em;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}

hr{
width: 1440px;
border: 3px solid #710707;
margin:0 0 78px 0;
padding: 0;
}
.header {
  min-width: 70rem;
 height: 100%;
  max-height: 150px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  background: rgb(49, 196, 93);
  color: #2713d8;
    padding-top: 59px;
  padding-bottom: 62px;
  }
  .logo{
display: flex;
position: relative;
justify-content: space-between;
width: 199px;
height: 33px;
margin-bottom: auto;
}
.logo-img2{
display: flex;
align-items: left;
width: 49px;
height:26px;
transition: 1s;
}
.logo-img2:hover{
transform: scale(1.2);
}
.logo-text a{
text-decoration: none;
color: #fff;
font-family: Forum;
font-weight: 400;
font-size: 28px;
line-height: 100%;
letter-spacing: 5px;
text-transform: uppercase;
margin-left: 20px;
}
/*----------------------nav---------------------*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-direction: row;
  gap: 8px;
  padding-left: 8px;  
  margin-left: 365px;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  transition: 0.3s;  
}
.nav-link {
  padding: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 5px;
  font-weight: 100;
  position: relative;
  font-size: 22px;
  transition: color  0.3s;
}
.nav-link:hover { 
  color:  #9D8665;
}
.nav-item{
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.main{
  margin: 100px auto;
  height: 500px;
}

.form{
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: 20px auto;
  background-color:#f2eb2b;
  border-radius:30px;
  box-shadow: 10px 10px 20px  rgba(180, 112, 4, 0.367) inset,10px 10px 20px 20px rgba(180, 13, 4, 0.415) ;
}
.form-title{
  margin:  15px;
  font-size: 30px;
  color: red;
  text-align: center;
}
.form-group{
  margin-bottom: 25px;
  margin-left: 10%;
}
.form-input{
  display: block;
  padding: 5px 10px;
  width: 350px;
  background:white;
  border: 2px solid rgb(5, 96, 26);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #ae1818;
  line-height: 1.5;
}
.btn-nav{
background: url(../img/person_110935.png) 50% 50% no-repeat;
    background-size: contain;
    width: 100px;
    height: 50px;
    }
.btn{
  padding: 20px 20px;
  background:#72ee6a;
  border: 5px solid #4457e288; /* рамка */ 
  border-radius: 20px;
  box-shadow: 10px 0 20px  rgb(193, 127, 3);
  text-align: center;
  color: #3f12c9;
  transition: background 0.2 linear;
   margin-left: 30%;
}
.btn2{
  padding: 20px 20px;
  background:#72ee6a;
  border: 5px solid #4457e288; /* рамка */ 
  border-radius: 20px;
  box-shadow: 10px 0 20px  rgb(203, 196, 183);
  text-align: center;
  color: #3f12c9;
  transition: background 0.2 linear;
   margin-left: 45%;
   margin-top: 10%;
     cursor:pointer;
}

.btn:hover{
  background:#dde4dc;
  border: 5px solid #06d63a88; /* рамка */ 
  border-radius: 20px;
  text-align: center;
  color: #df6610;
  cursor:pointer;
}
.btn2:hover{
  background:#dde4dc;
  border: 5px solid #06d63a88; /* рамка */ 
  border-radius: 20px;
  text-align: center;
  color: #df6610;
  cursor:pointer;
}
.btn:active{
  background:#101110;
}
.btn .btn2:disabled{
 background:#ecefeb;
 border: 5px solid #95999788; /* рамка */ 
 cursor: not-allowed;
}
/* -----------footer-------------------------*/
 /*footer*/
 .footer {
  width: 100%;
  /*
  height: 392px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #e7e6f7;
  text-align: center;
  font-size: 28px;
  bottom: 0;*/
 padding-top: 84px;
 background: rgb(49, 196, 93);
  }

.footer-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-upper:first-child {
  align-items: flex-start;
}
.footer-line  {
  width: 100%;
  height: 3px;
  background-color: #666;
}
/*footer-lower*/
.footer-container {
 padding: 20px;
  padding-top: 50px;
  padding-bottom: 52px;
  display: flex;
  justify-content: space-between;
}
.footer-lower{
 width: 100%;
  
}
.footer-container div {
  color: #510fd4;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 2px;
  transition: 0.5s;
  cursor: pointer;
}
.footer-text{
 text-decoration: none;
  color: #510fd4;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 2px;
  transition: 0.5s;
  cursor: pointer;
}
.footer-container div:hover, .footer-text:hover {
  color: #9d8665;
}



